[Unit]
Description=Sensors web server
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/bin/python /home/pi/sensors-web/server.py /home/pi/sensor-data.db

[Install]
WantedBy=multi-user.target
